/* ============== Global ================ */
*{
    --vine:#a30404;
    --yellow:#fed40e;
    --gray: #e5e5e5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 93.75%; /* 100% - 16px | 93.75% - 15px */
}

html {
    overflow: hidden;
    /* smooth deslizar a página suavemente */
    scroll-behavior: smooth;
}

/* class de reset da página, para esconder a barra de rolagem na horizontal,caso o comando venha se repetir */
.overflow-hidden {
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    /*  */
    background: var(--vine) url(../assets/img/bg_icons.svg);
    /* Configura a imagem de fundo fazendo com que ela se movimentejunto com a página ou fique fixa */
    background-attachment: fixed;
    /* encaixar a imagem dentro do elemento que ela foi selecionada e ajustando ela em toda área, sem repetir  */
    background-size: cover;
}

/* em = sempre será relativa ao tamanho da fonte definida no elemento pai, exemplo: 1em ele irá colocar uma vez o tamanho do emento pai, caso o pai não tenha um tamanho definido ele irá considerar o padrão do navegador que será 16px
rem= sempre será relativa a fonte definida no elemento :root, caso não tenha fonte definida no root irá pegar o padrão do navegador que será 16px */

.container {
    width: min(90vw, 800vw);
    padding-top: 4em;
    margin: auto;
}

.img-fluid {
    width: max(14vw, 100px);
    object-fit: cover;
}

.flex-center-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.text-center{
    text-align: center;
}

/* ===============Titles=========== */

.titulo-banner h1 {
    font-family: "Rum Raisin", sans-serif;
    font-weight: normal;
    font-size: 5em;
    color: var(--yellow);
}

